{{>navbar}}

{{>about}}

{{>experience}}

{{>education}}

{{>skills}}

{{>portfolio}}



<!-- Bootstrap core JavaScript -->
<!-- Bootstrap core JavaScript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/resume.min.js"></script>
</body>

</html>

<!-- Custom scripts for this template -->
<script src="js/resume.min.js"></script>