<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <p>Pick language </p>
            <p>Välj språk</p>
            <a href="/?lang=en"><img src="./img/en.png" class="img langico"></a>
            <a href="/?lang=sv"><img src="./img/swe.png" class="img langico"></a>
        </div>
    </div>
</div>


Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
    href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>