<div class="row topBuffer">
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
                <img class="card-img-top" src="{{comp.Img}}" alt="Card image cap">
            <h3 class="mb-0">Software engineer</h3>
            <div class="subheading mb-3"><a href="http://infospread.se">Infospread Euro AB</a></div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2013 - Present</span>
          </div>
        </div>
</div>
