<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="portfolio">
    <div class="w-100">
        <h2 class="mb-5">portfolio</h2>
        <p>{{Me.Desc}}</p>
        <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Portfolio</h3>
            <h2 class="mb-5">Recent Projects</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Stationary</h2>
                            <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/portfolio-11.png" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Ice Cream</h2>
                            <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream
                                cone!</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/portfolio-2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Strawberries</h2>
                            <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!
                            </p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/portfolio-3.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Workspace</h2>
                            <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    </div>
    
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
</section>