<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="portfolio">
    <div class="w-100">
        <h2 class="mb-5">portfolio</h2>
        <p>{{Portfolio.Desc}}</p>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/NeumanShowcase/webcv" target="_blank">
                    <span class="caption">
                        <span style="font-size: 3em; color: White;">
                            <li class="list-inline-item iconmargin">
                                <i class="fab fa-node-js"></i>
                                <i class="fab fa-html5"></i>
                            </li>
                        </span>
                        <h3 style="color: white;" class="portfolio-header">Webpage app template</h3>
                        <span class="caption-content">
                            <p class="text-right">.THIS!</p>
                            <p class="text-right">Read about the makings of this web app!</p>
                        </span>
                    </span>
                    <img class="img-fluid fitport" src="img/portfolio-1.png" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/NeumanShowcase/CamTag-Docs">
                    <span class="caption">
                        <span style="font-size: 3em; color: White;">
                            <li class="list-inline-item iconmargin">
                                <i class="fab fa-android"></i>
                            </li>

                        </span>
                        <span class="caption-content">
                            <p class="mb-0">An AI picture tagging game developed natively for Android!</p>
                        </span>
                    </span>
                    <div class="text-center">
                        <img class="img-fluid fitport" src="img/camtag.png" alt="">
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/NeumanShowcase/Skooly">
                    <span class="caption">
                        <span style="font-size: 3em; color: White;">
                            <li class="list-inline-item iconmargin">
                                <i class="fab fa-apple"></i>
                            </li>
                        </span>
                        <span class="caption-content">
                            <p class="mb-0" style="font-size: large; background-color:#155d74; ">iOS application done in
                                Swift with XCode. </p>
                            <p class="mb-0" style="font-size: large; background-color:#155d74; ">Presents student
                                activities.
                            </p>
                        </span>
                    </span>
                    <img class="img-fluid fitport" src="img/JUFO.png" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/NeumanShowcase/HashiGame">
                    <span class="caption">
                        <span style="font-size: 3em; color: White;">
                            <li class="list-inline-item iconmargin">
                                <i class="icon-cplusplus"></i>
                            </li>
                        </span>
                        <h3 style="color: white;" class="portfolio-header">Hashiwokakero</h3>
                        <span class="caption-content">

                            <p class="mb-0" style="font-size: large; background-color:#155d74; ">Hashiwokakero Game in
                                C++</p>
                        </span>
                    </span>
                    <img class="img-fluid fitport" src="img/hashi.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>